body{
    margin: 0;
    padding: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #200016;
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #200016;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: rgba(141, 25, 161, 0.838);
}
#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2 :checked ~ .first{
    margin-left: 20%;
}